/*Color Palette
* White: #FFFFFF
* Darker red: #912E2E
* Light pink/red: var(--main-color)
* Middlist red: var(--secondary-color)
* Dark grayish: #191919
*/
.animate
{
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	z-index: -1;
	position: relative;
}

.setDelayDefault
{
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
 
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
 
  to {
    opacity: 1;
  }
}
 
.fadeIn 
{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
 
 
/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown 
{
  from 
  {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
 
  to 
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown 
{
  from 
  {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
 
  to 
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
.fadeInDown 
{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
 

/* wrap the image */
.img-wrap 
{
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;  
	flex-wrap: wrap;
}

/* and the alt that is contained within it */
.alt-wrap 
{ 
  position: relative;
  color: whitesmoke;
  
  margin: 0px;
}

/* The alt text itself */
/* Will be added with js */
.alt-wrap p.alt 
{
  position: absolute;
  opacity: 1; /* hide initially */
  left: 10px; right: 10px; bottom: 10px;
  margin: 0px;
  padding: 15px;
  font-size: 15px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.75);
  /*
  transition: all 500ms ease;
  transition-delay: 500ms;
  */
}

/* Hovering over the wrapper shows its alt p
.alt-wrap:hover > p.alt 
{ 
  opacity: 1; 
  transition-delay: 0s;
}
*/

.fileImageContainer
{
    margin: 0 auto; 
    padding: 0px;

}

/* encapsulate the file image within a black border */
.fileImage
{
	border: 1px solid black;
}