/*Color Palette
* White: #FFFFFF
* Darker red: #912E2E
* Light pink/red: #F79696
* Middlist red: #D05353
* Dark grayish: #191919
*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}

.card-body > p{
	margin: 0 auto;
	margin-left: 2%;
	font-weight: bold;
}

.card-body > p > span{
	font-weight: normal !important;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10%;
  padding: 0;
}

#title {
	height: 6vh;
	width: 100%;
	vertical-align: center;
	background-color: #912E2E;
}

#title > *{
	margin-top: 1vh;
}

#searchBar{
	float: right;
	width: 15vw;
	height: 4vh;
	border: none;
	font-size: 1.1em;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.noInfoDefault{
	display: none;
	height: 13vh;
	cursor: pointer;
}

#leftContent{
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	background-color: #FFFFFF;
	height: 93vh;
	z-index: 2;
	max-width: 650px;
	min-width: 200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	overflow-y: scroll;
}

#rightContent{
	background-color: #FFFFFF;
	z-index: 0;
	height: 93vh;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

.accountIcon{
	position: relative;
	width: 80%;
	margin: 0% 10% 5% 10%;
	background-color: inherit;
	border: none;
	border-radius: 10%;
	cursor: pointer;
}

.accountInfo{
	width: 80%;
	margin: 0% 10% 5% 10%;
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,.15);
	border: none;
	display: none;
}
.accountInfo > .card-header{
	background-color: #F79696;
}
.accountInfo > .card-body{
	background-color: #EEEEEE;
}

.avatar {
	margin: 5% 15% 1% 15%;
	width: 70%;
	height: auto;
	border-radius: 50%;
	
}

#backArrowLeft{
	position: relative;
	width: 1.8em;
	height: 1.5em;
	left: 1em;
	top: 1.3em;
	padding: 0em;
	z-index: 3;
	visibility: hidden;
	cursor: default;
}

#viewTabs{
	margin: 0 auto;
	margin-top: .2em;
	padding: 0 auto;
	height: 2.2em;
}

.tabButton{
	margin: 0em;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: text-bottom;
	background-color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 20px 20px 0px 0px;
	border: .5px solid #D05353;
	border-bottom: none;
}
.activeTab{
	background-color: #F79696;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.25);
}

.tabView, #mainView{
	width: 100%;
	height: calc(93vh - 2.2em);
	margin: 0 auto;
	padding: 0 auto;
	z-index: 0;
}
.tabView{
	display: none;
}
.selectedView{
	display: block !important;
	z-index: 2 !important;
}
#feed {
	background: yellow;
}
#calendar{
	background: blue;
}
#find{
	background: green;
}
#files{
	background: cyan;
}