/*Color Palette
* White: #FFFFFF
* Darker red: #912E2E
* Light pink/red: #F79696
* Middlist red: #D05353
* Dark grayish: #191919
*/
* {
	font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#popupBackDrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: gray;
  opacity: 0.7;
  display: none;
  z-index: 9;
}

#leftContent .card-body > p {
  margin: 0 auto;
  margin-left: 2%;
  font-weight: bold;
}

#leftContent .card-body > p > span {
  font-weight: normal !important;
}

#leftContent ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10%;
  padding: 0;
}

#title {
  min-height: 5vh;
  width: 100%;
  vertical-align: middle;
  background-color: #191919;
}
#title > *{
	margin-top: .8vh;
	margin-bottom: .6vh;
}
#searchBar{
  width: 88%;
  border: none;
  border-radius: 5px;
  min-height: 90%;
  max-height: 100%;
  font-size: 1.1em;
  float: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noInfoDefault {
  display: none;
  height: auto;
  min-height: 10vh;
  cursor: pointer;
}

#leftContent {
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  height: 93vh;
  z-index: 2;
  max-width: 650px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow-y: scroll;
}

#rightContent {
  background-color: #ffffff;
  z-index: 0;
  height: 93vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.accountIcon {
  position: relative;
  width: 80%;
  margin: 0% 10% 5% 10%;
  background-color: inherit;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.accountInfo {
  width: 90%;
  margin: 0% 5% 5% 5%;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.15);
  border: none;
  display: none;
}
.accountInfo .card-header {
  background-color: #f79696;
  font-weight: bold;
}
.accountInfo .card-body {
  background-color: #eeeeee;
  margin: 1%;
}

.avatar {
  margin: 5% 15% 1% 15%;
  width: 70%;
  height: auto;
  border-radius: 50%;
}

#backArrowLeft {
  position: relative;
  width: 1.8em;
  height: 1.5em;
  left: 1em;
  top: 1.3em;
  padding: 0em;
  z-index: 3;
  visibility: hidden;
  cursor: default;
}

#viewTabs {
  margin: 0 auto;
  padding: 0 auto;
  height: 2.2em;
}

.tabButton {
  margin: 0em;
  width: 100%;
  color: white;
  height: 100%;
  text-align: center;
  vertical-align: text-bottom;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 2px;
} .tabButton:hover{
	border: 2px solid #912E2E;
}

.activeTab {
  background-color: #912E2E;
}
.tabView,
#mainView {
  width: 100%;
  height: calc(93vh - 2.2em);
  margin: 0 auto;
  padding: 0 auto;
  z-index: 0;
}
.tabView {
  overflow-y: scroll;
  display: none;
}
.selectedView {
  display: flex !important;
  z-index: 2 !important;
}

#find > .row {
  align-items: center;
  justify-content: left;
  height: 100%;
}
.docList {
}
.docBox {
  margin: 5px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  cursor: pointer;
}
.docIcon {
  width: 25%;
}

.docIconBig {
  width: 50%;
  margin: 5px;
}
.docBoxInfo {
  margin: 5px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  z-index: 5;
}
#map {
  position: relative;
}
button.close {
  color: black;
}
#files {
}

.popup {
  position: absolute;
  width: 30vw;
  min-width: 500px;
  max-height: 80vh;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
  background: #DDDDDD;
  display: none;
}
.popup button{
	border-radius: 5px;
	cursor: pointer;
	color: black;
	padding: .4em;
	border: .1em solid #912E2E;
	font-size: 1.1em;
}
.popup button:hover{
	background-color: #912E2E;
	color: white;
}
#accountIconSelect{
	display:flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
} #accountIconSelect img{
	width: 20%;
	height: 100%;
	border-radius: 50%;
} #accountIconSelect img:hover{
	border: 3px solid #F79696;
}
.iconSelected, .iconSelected:hover {
	border: 5px solid #912E2E !important;
}

#feed{
	z-index: 0;
}
#feed h2{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#feedContainer{
	display: flex;
	align-items: left;
	flex-direction: column;
}
.feedFile, .feedAppt{
	width: 80%;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 8px;
}

.feedFile {
	padding-left:150px;
	background-color: #F79696;
	border: 2px dashed #D05353;
	transition-duration: 0.4s;
	background-image: url(images/document-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-align: left;
	font-weight: bolder;
}

.feedFile:hover{
	box-shadow: 0 8px 16px 0 rgba(156, 17, 17, 0.801), 0 6px 20px 0 rgba(156, 17, 17, 0.821);
	background-color: #F79696;
	color: white;
	border: 2px solid #FFFFFF;
}

.feedAppt {
	padding-left:150px;
	background-color: #D05353;
	border: 2px dashed #F79696;
	transition-duration: 0.4s;
	text-align: left;
	background-image: url(images/calander-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: bolder;
}

.feedAppt:hover{
	border: 2px solid #FFFFFF;
	box-shadow: 0 8px 16px 0 rgba(156, 17, 17, 0.801), 0 6px 20px 0 rgba(156, 17, 17, 0.821);
	background-color:#D05353;
	color: white;
}